<table class="table table-dark">
  <thead>
    <tr>
      <!--<th scope="col">User Id</th>-->
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Action</th>
      <th scope="col">Messgae</th>
      <th scope="col">Presence</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <!--<th>{{user.id}}</th>-->
      <!--<td><img [src]="user.url" *ngIf="user"> {{user.displayName}}</td>-->
      <td>{{user.email}}</td>
      <td>
        <a target="blank" href="{{'https://teams.microsoft.com/l/chat/0/0?users=subashandrew@zb136.onmicrosoft.com,'+user.email}}"><span class="bi bi-chat mr-3"></span></a>
        <a target="blank" href="{{'https://teams.microsoft.com/l/call/0/0?withVideo=true&users=subashandrew@zb136.onmicrosoft.com,'+user.email}}"><span class="bi bi-camera-video mr-3"></span></a>
        <a target="blank" href="{{'https://teams.microsoft.com/l/call/0/0?users=subashandrew@zb136.onmicrosoft.com,'+user.email}}"><span class="bi bi-telephone mr-3"></span></a>
      </td>
      <td>
        <a (click)="user.allowMessage=!user.allowMessage" target="blank">
          <span class="bi bi-chat"></span>
        </a>
        <span *ngIf="user.allowMessage" type="text" [style.visibility]="toggleShowHide">
          <input (keypress)="onKeypressEvent($event)">
          <a target="blank" href="{{'https://teams.microsoft.com/l/chat/0/0?message='+msg+'&users=subashandrew@zb136.onmicrosoft.com,'+user.email}}">
            <span class="bi bi-chat mr-3"></span>
          </a>
        </span>
      </td>
      <td>{{user.availability}}</td>
    </tr>
  </tbody>
</table>
